// hero.component.scss
:host {
  .hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;

    .content {
      background-position: center;
      background-size: cover;
      height: 100dvh;
      padding-top: 20dvh;
      text-align: center;
      width: 100%;

      .hero-logo {
        // Add any specific hero logo styles if needed
      }

      h1 {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-style: normal;
        color: white;
        font-size: calc(16px + 5.8dvw);

        @media (max-width: 1440px) {
          font-size: 96px;
        }

        @media (max-width: 820px) {
          font-size: 60px;
        }

        @media (max-width: 790px) {
          font-size: 55px;
        }

        @media (max-width: 600px) {
          font-size: 50px;
        }

        @media (max-width: 440px) {
          font-size: 36px;
        }
      }

      span {
        font-family: "Raleway", sans-serif;
        font-weight: regular;
        font-style: normal;
        font-size: 24px;
        color: white;

        @media (max-width: 768px) {
          font-size: 20px;
        }

        @media (max-width: 320px) {
          font-size: 16px;
        }
      }
    }
  }
}
